@{
    Layout = "~/Views/Shared/Layout/_CardView.cshtml";
}

<form class="form row" asp-action="@ViewBag.action" asp-route-id="@(Model.Id != Guid.Empty? Model.Id: null)" method="post" enctype="multipart/form-data">
    @RenderBody()
    <div class="form-group col-md-6 mb-2">
        <fieldset>
            <div class="float-left">
                <button type="submit" class="btn btn-primary">@localizer["submit"]</button>
            </div>
        </fieldset>
    </div>
</form>

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/admin/app-assets/css-ltr/plugins/forms/switch.min.css">
    @RenderSection("Styles", required: false)
}

@section Scripts {
    <script src="~/admin/app-assets/vendors/js/forms/toggle/bootstrap-switch.min.js"
            type="text/javascript"></script>
    <script src="~/admin/app-assets/vendors/js/forms/toggle/bootstrap-checkbox.min.js"
            type="text/javascript"></script>
    <script src="~/admin/app-assets/vendors/js/forms/toggle/switchery.min.js"
            type="text/javascript"></script>
    <script src="~/admin/app-assets/js/scripts/forms/switch.js"
            type="text/javascript"></script>

    <script>
       function changeImage()
        {
            let img = document.getElementById("img");
            let imgFile = document.getElementById("imgFile");
            if (img) img.onclick = _=>{imgFile.click();}
            if (imgFile) imgFile.onchange = (e)=>{
                let reader = new FileReader();
                let file = e.target.files[0];
                reader.onload = function () {
                    img.src = reader.result;
                }
                reader.readAsDataURL(file);
            }    
        }       
        changeImage();
    </script>
    @RenderSection("Scripts", required: false)
}