@model vezeeta.BL.DTOs.Center.CenterDTO ;

<div class="form-group col-12 mb-2">
    <div class="col-5 mx-auto">
        <img id="img" src="@(Helper.imageUrl(Model.logo))" class="img-thumbnail view-img clickable" />
        <input id="imgFile" type="file" class="form-control hidden" asp-for="logo">
    </div>
</div>

<div class="form-group col-md-6 mb-2">
    <lable class="form-lable fw-bold mb-50 d-block"> @localizer["name"] <span class="badge badge-danger">@localizer["ar-EG"]</span></lable>
    @Html.TextBoxFor(m=>m.name_ar, new {@class = "form-control"})
    <span class="invalid-feedback d-block">
        @TempData["name_ar"]
    </span>
</div>

<div class="form-group col-md-6 mb-2">
    <lable class="form-lable fw-bold mb-50 d-block">@localizer["name"] <span class="badge badge-danger">@localizer["en-US"]</span></lable>
    @Html.TextBoxFor(m=>m.name_en, new {@class = "form-control"})
    <span class="invalid-feedback d-block">
        @TempData["name_en"]
    </span>
</div>

<div class="form-group col-md-6 mb-2">
    <lable class="form-lable fw-bold mb-50 d-block">@localizer["email"]</lable>
    @Html.TextBoxFor(m=>m.email, new {@class = "form-control"})
    <span class="invalid-feedback d-block">
        @TempData["email"]
    </span>
</div>

<div class="form-group col-md-6 mb-2">
    <lable class="form-lable fw-bold mb-50 d-block">@localizer["mobile"] </lable>
    @Html.TextBoxFor(m=>m.mobile, new {@class = "form-control"})
    <span class="invalid-feedback d-block">
        @TempData["mobile"]
    </span>
</div>

<div class="form-group col-md-6 mb-2">
    <lable class="form-lable fw-bold mb-50 d-block">@localizer["phone"]</lable>
    @Html.TextBoxFor(m=>m.phone, new {@class = "form-control"})
    <span class="invalid-feedback d-block">
        @TempData["phone"]
    </span>
</div>

<div class="form-group col-md-6 mb-2">
    <label for="location1" class="form-lable fw-bold mb-50 d-block">@localizer["department_name"]</label>
    <select class="custom-select form-control"  asp-for="DepartmentId">
        <option value="">@localizer["department_name"]</option>
        @if (ViewBag.departmentsName != null)
        {
            foreach (var dept in ViewBag.departmentsName){
                <option value="@dept.Id">@(dept.name)</option>
            }      
        }
    </select>
    <span class="invalid-feedback d-block">
        @TempData["DepartmentId"]
    </span>
</div>

<div class="form-group col-md-6 mb-2">
    <lable class="form-lable fw-bold mb-50 d-block"> Is Active </lable>
    <fieldset>
        <div class="float-left">
            @Html.CheckBoxFor(model => model.is_active, new { id = "switch1", @checked = Model.is_active ? "checked" : "", @class = "switch"})
        </div>
    </fieldset>
</div>


