@using vezeeta.BL;
@model IEnumerable<DepartmentDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout/_CardView.cshtml";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/admin/app-assets/vendors/css/tables/datatable/datatables.min.css">
}

<a asp-action="Create" asp-controller="Department" class="btn btn-info text-capitalize white my-2">
    <i class="ft-file-plus"></i>@localizer["add_new"]</a>
<table class="table data-table table-striped table-bordered zero-configuration text-center">
    <thead>
        <tr>
            <th>#</th>
            <th>@localizer["name"]</th>
            <th>@localizer["activate"]</th>
            <th>@localizer["actions"]</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.Id</th>
                    <th>@item.name</th>
                    <td>
                        @if (item.is_active)
                        {
                            <span class="activate badge badge-success fw-bolder text-capitalize text-white">@localizer["isActive"]</span>
                        }
                        else
                        {
                            <span class="activate badge badge-danger fw-bolder text-capitalize text-white">@localizer["inActive"]</span>
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Category" class="btn btn-info white" data-toggle="tooltip" data-placement="top" title="@localizer["edit"]"><i class="ft-edit"></i></a>
                        <a asp-action="activation" asp-route-id="@item.Id" class="btn btn-warning white" data-toggle="tooltip" data-placement="top" title="@localizer[item.is_active?"inActive":"isActive"]"><i class="ft-repeat"></i></a>
                        <a onclick="return confirm('Are you sure you want to delete Category?')" asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger white"
                            data-toggle="tooltip" data-placement="top" title="@localizer["delete"]"><i class="ft-trash-2"></i></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="7"><span class="text-capitalize fw-bold">No Data Table</span></td></tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>#</th>
            <th>@localizer["name"]</th>
            <th>@localizer["activate"]</th>
            <th>@localizer["actions"]</th>
        </tr>
    </tfoot>
</table>


@section Scripts {
    <script src="~/admin/app-assets/vendors/js/tables/datatable/datatables.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $(".data-table").DataTable();

            /*$(".data-table").DataTable({

                "processing": true, // for show progress bar  
                "serverSide": true, // for process server side  
                "filter": true, // this is for disable filter (search box)  
                "orderMulti": false, // for disable multiple column at once  
                "pageLength": 5,

                "ajax": {
                    "url": "/Department/LoadData",
                    "type": "POST",
                    "datatype": "json"
                },

                "columnDefs":
                    [{
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": [7],
                        "searchable": false,
                        "orderable": false
                    },
                    {
                        "targets": [8],
                        "searchable": false,
                        "orderable": false
                    },
                    {
                        "targets": [9],
                        "searchable": false,
                        "orderable": false
                    }],

                /*"columns": [
                    { "data": "Id", "name": "Id", "autoWidth": true, "title": "Id" },
                    { "data": "name", "name": "name", "autoWidth": true },
                    { "name": "is_active", "title": "is_active", 
                        "render": function (data, type, full, meta) { return full.is_active
                            ?'<span class="activate badge badge-success fw-bolder text-capitalize text-white">'+@localizer["isActive"]+'</span>'
                            :'<span class="activate badge badge-danger fw-bolder text-capitalize text-white" >'+@localizer["inActive"]+'</span>'}
                    },
                    /*{
                        "render": function (data, type, full, meta) { return '<a class="btn btn-info" href="/Demo/Edit/' + full.CustomerID + '">Edit</a>'; }
                    },
                    {
                        data: null, render: function (data, type, row) {
                            return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.CustomerID + "'); >Delete</a>";
                        }
                    },
                    
                ]

            });
            */
        });
    </script>
}
