@using vezeeta.BL;
@model IEnumerable<DepartmentDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout/_CardView.cshtml";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/admin/app-assets/vendors/css/tables/datatable/datatables.min.css">
}

<a asp-action="Create" asp-controller="Department" class="btn btn-info text-capitalize white my-2">
    <i class="ft-file-plus"></i>@localizer["add_new"]</a>
<table class="table data-table table-striped table-bordered zero-configuration text-center">
    <thead>
        <tr>
            <th>id</th>
            <th>@localizer["name"]</th>
            <th>@localizer["activate"]</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.Id</th>
                    <th>@item.name</th>
                    <td>
                        @if (item.is_active)
                        {
                            <span class="activate badge badge-success fw-bolder text-capitalize text-white">@localizer["isActive"]</span>
                        }
                        else
                        {
                            <span class="activate badge badge-danger fw-bolder text-capitalize text-white">@localizer["inActive"]</span>
                        }
                    </td>
                    
                </tr>
            }
        }
        else
        {
            <tr><td colspan="7"><span class="text-capitalize fw-bold">No Data Table</span></td></tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>id</th>
            <th>@localizer["name"]</th>
            <th>@localizer["activate"]</th>
        </tr>
    </tfoot>
</table>


@section Scripts {
    <script src="~/admin/app-assets/vendors/js/tables/datatable/datatables.min.js" type="text/javascript"></script>
    <script>


        /*$(document).ready(function () {
            $('.data-table').DataTable({
                ajax: { url: "/Department/LoadData" },
                columns: [
                    { data: '#' },
                    { data: 'name', name: '@localizer["name"]' },
                    {
                        data: "is_active", name: "@localizer["activate"]"

                    },
                    /*{
                        data: "CategoryId",
                        render: function (data, type, row) {

                            return '<ul class="list-inline hstack gap-2 mb-0"> <li class="list-inline-item" data-bs-toggle="tooltip"data-bs-trigger="hover" data-bs-placement="top"title="View"><a href="javascript:void(0)" data-bs-toggle="modal"><i class="ri-eye-fill align-bottom text-muted" onclick="ShowViewPopUp(' + data + ')" ></i></a></li> <li class="list-inline-item" data-bs-toggle="tooltip"data-bs-trigger="hover" data-bs-placement="top"title="Edit" ><a class="edit-item-btn" href="javascript:void(0)"data-bs-toggle="modal" > <i class="ri-pencil-fill align-bottom text-muted" onclick="editButtonClick(' + data + ')"></i> </a> </li>    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top"title="Delete"> <a class="remove-item-btn" data-bs-toggle="modal"href="javascript:void(0)" > <i class="ri-delete-bin-fill align-bottom text-muted" onclick="deleteCategory(' + data + ')"></i> </a></li></ul>';

                        },
                        className: "dt-body-center"
                    },


                ],
            });
        });
        */



        $(document).ready(function () {

            $(".data-table").DataTable({

                "processing": true, // for show progress bar  
                "serverSide": true, // for process server side  
                "filter": true, // this is for disable filter (search box)  
                "orderMulti": false, // for disable multiple column at once  
                "pageLength": 5,

                "ajax": {
                    "url": "/Department/LoadData",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "id", "name": "id", "autoWidth": true, "title": "id" },
                    { "data": "name", "name": '@localizer["name"]', "autoWidth": true },
                    { "data": "is_active", "name": '@localizer["activate"]', "autoWidth": true },
                ]

            });
        });
    </script>
}
